/* Estilos globais */
body {
    font-family: 'Inter', sans-serif;
    background-color: #F8F9FA;
    color: #343A40;
    transition: background-color 0.3s, color 0.3s;
}

.dark body {
    background-color: #121212;
    color: #FFFFFF;
}

/* Estilos para as tabs de busca (index.html) */
.search-tab.active {
    border-bottom: 3px solid #00B4D8;
    color: #1D3557;
    font-weight: 500;
}

.dark .search-tab.active {
    color: #E2E8F0;
}
